.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  background: linear-gradient(to right, #4b79a1, #283e51);
  min-height: 100vh;
}

.forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  background-color: #edf6f9;
  box-shadow: 0.3rem 0.3rem rgba(24, 24, 24, 0.425);
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: space-evenly;
  transition: 0.3s;
  width: 340px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-input-container label {
  margin-bottom: 10px;
}

.form-input-container input {
  border-bottom: 0.1em solid rgb(204, 204, 204);
  color: #424242;
  height: 3em;
  padding: 8px;
  transition: border 0.1s linear;
}

.form-input-container input:focus {
  border-bottom: 0.2em solid #4b79a1;
  height: 3em;
}
